In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(data=np.random.randint(10, 700, (10, 8)), columns=list("abcdefgh"))
df

     a    b    c    d    e    f    g    h
0  251  276  390  264   20  486   28   17
1  356  232  373  391  574   86  525  404
2   66  345  174  256  160  208   22  172
3   55  358   42   52  435  410  593  633
4  113  185  144   72  146  467  580  394
5  500  446  221  656  149   64  374  249
6   81  647  564  105  682  402  201  633
7  263  669  532  594  614  374  469   47
8   91  126  591   29  420   68  252  140
9  651  275  121  129  234  662  305  350

In [27]:
df.loc[4:6]["c"]

4    144
5    221
6    564
Name: c, dtype: int32