In [18]:
import pandas as pd   #导入包

相对路径是以当前文件所在目录为基础：./ 表示同一目录下  ../ 表示相对当前目录的上一级目录

In [68]:
df=pd.read_csv('../data.csv')

In [69]:
df

      名次         电影名称        日期     总场次      废场       人次     上座率    票价
0      1          战狼2  20170805   93078    9964  871.41万  68.18%  37.3
1      2          战狼2  20170730   92023    7722  876.95万  65.96%  36.9
2      3  变形金刚5：最后的骑士  20170623  113498   16941  797.47万  85.53%  38.0
3      4          战狼2  20170729   86968    8825  777.32万  61.46%  36.8
4      5  复仇者联盟4：终局之战  20190424   98124  103079  530.45万  40.51%  53.9
..   ...          ...       ...     ...     ...      ...     ...   ...
545  546         飞驰人生  20190209   23256   48019   97.92万  37.42%  46.0
546  547       摔跤吧！爸爸  20170512   23670    5110   138.9万   72.2%  32.4
547  548       惊天魔盗团2  20160625   24198    3198  100.68万  25.54%  44.7
548  549        李茶的姑妈  20180930   34893   50951  122.28万  23.02%  36.6
549  550         正义联盟  20171119   33599   52663  122.36万   23.3%  36.6

[550 rows x 8 columns]

In [70]:
df['废场'].shape

(550,)

.head(n) 该方法用于显示前n行

In [71]:
df.head(5)

   名次         电影名称        日期     总场次      废场       人次     上座率    票价
0   1          战狼2  20170805   93078    9964  871.41万  68.18%  37.3
1   2          战狼2  20170730   92023    7722  876.95万  65.96%  36.9
2   3  变形金刚5：最后的骑士  20170623  113498   16941  797.47万  85.53%  38.0
3   4          战狼2  20170729   86968    8825  777.32万  61.46%  36.8
4   5  复仇者联盟4：终局之战  20190424   98124  103079  530.45万  40.51%  53.9

.info()方法返回当前数据详细信息  在pandas中 object类型就代表字符串

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   名次      550 non-null    int64
 1   电影名称    550 non-null    object
 2   日期      550 non-null    int64
 3   总场次     550 non-null    int64
 4   废场      550 non-null    int64
 5   人次      550 non-null    object
 6   上座率     550 non-null    object
 7   票价      550 non-null    float64
dtypes: float64(1), int64(4), object(3)
memory usage: 34.5+ KB

In [73]:
df.index #.index 方法返回数据的行索引，这是不包含在列中的

RangeIndex(start=0, stop=550, step=1)

In [74]:
df.columns  # 返回数据的列信息

Index(['名次', '电影名称', '日期', '总场次', '废场', '人次', '上座率', '票价'], dtype='object')

In [75]:
df.dtypes

名次        int64
电影名称     object
日期        int64
总场次       int64
废场        int64
人次       object
上座率      object
票价      float64
dtype: object

In [76]:
df.values   #这个只包含每行样本的数值，不包含列信息和行索引

array([[1, '战狼2', 20170805, ..., '871.41万', '68.18%', 37.3],
       [2, '战狼2', 20170730, ..., '876.95万', '65.96%', 36.9],
       [3, '变形金刚5：最后的骑士', 20170623, ..., '797.47万', '85.53%', 38.0],
       ...,
       [548, '惊天魔盗团2', 20160625, ..., '100.68万', '25.54%', 44.7],
       [549, '李茶的姑妈', 20180930, ..., '122.28万', '23.02%', 36.6],
       [550, '正义联盟', 20171119, ..., '122.36万', '23.3%', 36.6]],
      dtype=object)

pandas中的核心数据结构DataFrame 和字典很类似，也可以构造一个字典再转化为DataFrame

In [77]:
data = {'country':['中国', '美国', '日本'], 'population':['14亿', '5亿', '1.5亿']}
df_data = pd.DataFrame(data)

In [78]:
df_data

  country population
0      中国        14亿
1      美国         5亿
2      日本       1.5亿

DataFrame中默认索引是从0开始的一串数字，也可以用set_index()方法设置

In [79]:
# df = df.set_index('票价')  # 指定用 票价 这一列的数据作为索引
# df.head(5)

获得了一列数据  在pandas中是 Series 类型  可以进行数值运算 ，也有numpy中的广播功能

In [81]:
df_num = df['总场次']
df_num

0       93078
1       92023
2      113498
3       86968
4       98124
        ...
545     23256
546     23670
547     24198
548     34893
549     33599
Name: 总场次, Length: 550, dtype: int64

In [82]:
df_num = df_num - 5000
df_num[:5]

0     88078
1     87023
2    108498
3     81968
4     93124
Name: 总场次, dtype: int64

describe() 方法用于统计该数据表的指标   只能统计数值型的属性

In [83]:
df.describe()

               名次            日期            总场次             废场          票价
count  550.000000  5.500000e+02     550.000000     550.000000  550.000000
mean   275.500000  2.017054e+07   38038.480000   30920.600000   40.305818
std    158.915596  1.317271e+04   16652.332628   32509.825523    5.212829
min      1.000000  2.014063e+07    7913.000000       0.000000   30.200000
25%    138.250000  2.016032e+07   26923.000000    2504.000000   36.400000
50%    275.500000  2.017071e+07   34624.000000   14702.500000   39.250000
75%    412.750000  2.018068e+07   45591.250000   53322.750000   44.775000
max    550.000000  2.019103e+07  113498.000000  128079.000000   57.300000

In [84]:
df.loc[0]

名次             1
电影名称         战狼2
日期      20170805
总场次        93078
废场          9964
人次       871.41万
上座率       68.18%
票价          37.3
Name: 0, dtype: object

In [85]:
df.loc[[2, 4], ['电影名称', '票价']]

          电影名称    票价
2  变形金刚5：最后的骑士  38.0
4  复仇者联盟4：终局之战  53.9

iloc 方法可以同时对行或者列进行切片 列也有默认索引

In [87]:
df.iloc[2:4, 1:4]

          电影名称        日期     总场次
2  变形金刚5：最后的骑士  20170623  113498
3          战狼2  20170729   86968

In [88]:
df.loc[df['票价']>42.0, '票价'].mean()

47.09041916167664

In [89]:
df['票价']

0      37.3
1      36.9
2      38.0
3      36.8
4      53.9
       ...
545    46.0
546    32.4
547    44.7
548    36.6
549    36.6
Name: 票价, Length: 550, dtype: float64

In [90]:
df.head(5)

   名次         电影名称        日期     总场次      废场       人次     上座率    票价
0   1          战狼2  20170805   93078    9964  871.41万  68.18%  37.3
1   2          战狼2  20170730   92023    7722  876.95万  65.96%  36.9
2   3  变形金刚5：最后的骑士  20170623  113498   16941  797.47万  85.53%  38.0
3   4          战狼2  20170729   86968    8825  777.32万  61.46%  36.8
4   5  复仇者联盟4：终局之战  20190424   98124  103079  530.45万  40.51%  53.9

In [94]:
df.groupby('电影名称')['票价'].mean()

电影名称
007：幽灵党       40.933333
X战警：天启        46.466667
一出好戏          36.400000
三生三世十里桃花      36.225000
中国机长          40.614286
                ...
霍比特人3：去而复归    51.900000
飞驰人生          46.916667
鬼吹灯之九层妖塔      45.420000
魔兽            47.650000
黑豹            37.350000
Name: 票价, Length: 114, dtype: float64